{% extends 'base.html' %}

{% block content %}
<div class='container'>

   <div class="row py-3 border-bottom">
      <div class="col-md-6 col-sm-12">
         <div class="row">
            <div class="col-4 text-right">
               <img class="img-thumbnail h-100" src="{{book.image}}">
            </div>
            <div class="col-8 d-flex flex-column">
               <legend class="h4" style="color:rgb(28, 38, 46)">{{ book.title }}</legend>
               <div class="h5 text-dark">{{ book.author }}</div>
               <div class="mt-auto">
                  <a href="{% url 'readen' book.id %}" style="text-decoration:none"><span
                        style="color:rgb(148, 147, 122)">oxudum</span></a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 d-flex col-sm-12">
         <form action='' method='post' id='comment'>
            {% csrf_token %}
            <fieldset class="form-group">
               <div class="text-dark">
                  Kitab haqda fikrinizi paylaşın:
               </div>
               <div class="input-group">
                  <textarea name="comment" cols="60" rows="3" id="id_comment" name='comment' required></textarea>
               </div>
            </fieldset>
            <div class="input-group-append form group">
               <button type="submit" class="btn px-5 py-0 text-light ml-auto"
                  style="background-color:rgb(68, 110, 55)">göndər</button>
            </div>
         </form>
      </div>
   </div>

   <div class="row">
      <div class="col-md-8 offset-md-2">
         {% for discussion in discussions %}
         <div class='row border-bottom'>
            <div class='col-2 text-center py-2'>
               <img class="rounded-circle" id="user-img-comment" src="{{ discussion.user.profile.image.url }}" alt="">
            </div>
            <div class="col-10 d-flex flex-column">
               <div class='lead'><a href="{% url 'userprofile' discussion.user.id %}" style="text-decoration:none"><span style="color:rgb(31, 117, 28);">{{ discussion.user.first_name }}  {{discussion.user.last_name}}:</span></a></div>
               <p class='text-dark'> {{ discussion.comment }}</p>
               <div>
                  <div class="ml-auto">
                  <span class='text-muted small'>{{ discussion.date }}</span>
               </div>
            </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
{% endblock content %}